<div class="jumbotron text-center">
<h1>Your Accounts</h1><br>
</div><br>

<% @user_accounts.each do |acct| %>

    <h2 class="text-center"><%= link_to acct.financial_product.name, user_account_path(acct) %></h2><br><br>

<% end %>
</div>
