<div class="jumbotron text-center">
<h1>Your Accounts</h1><br><br>


<% @user_accounts.each do |acct| %>

    <h2><%= link_to acct.financial_product.name, user_account_path(acct) %></h2><br><br>

<% end %>
</div>
