<h1>new user account</h1>

<%= form_with model: [@user, @user_account] do |f| %>

    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.collection_select :financial_product_id, @products, :id, :name %>
    <%= f.submit %>

<% end %>