<h1>stats</h1>

<% FinancialProduct.acct_type_count.each do |k, v| %>

    <%= display_sums_of_products(k, v) %>

<% end %>

<h3>Full Service Customers:</h3>

<% Customer.full_service.each do |customer| %>

    <%= display_net_worth_of_customer(customer) %>

<% end %>

<h3>Standard Service Customers</h3>

<% Customer.standard_service.each do |customer| %>

    <%= display_net_worth_of_customer(customer) %>

<% end %>

<h3>Self Service Customers</h3>

<% Customer.self_service.each do |customer| %>

    <%= display_net_worth_of_customer(customer) %>

<% end %>

