<%= render partial: 'error_messages/full_messages', locals: { model: @user } %>

<h1 class="jumbotron text-center">Registration Form</h1>


<%= render partial: 'users/form', locals: { user: @user }%>

