<% if @user.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<h1>Registration Form</h1>


<%= render partial: 'form', locals: { user: @user }%>