<!DOCTYPE html>
<html>
  <head>
    <title>Finance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>
    <header>
      <%= link_to 'Log Out', session_path(session[:user_id]), action: :destroy %>
    </header>
    <%= yield %>
  </body>
</html>
